body{
    background-color:green;
}

.on > li,.off >li{
    margin:0;
    padding:0;
    text-align:center;
    
}

.on,.off{
    width:50px;
    height:250px;
    background-color:grey;
    text-align:center;
    font-size:30px;
}

.off > li{
    display:none;
}

.on > li{
    display:block;
}